
.padding-large {
    padding-top: 7em;
    padding-bottom: 7em;
}
section {
    display: block;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.d-flex {
    display: flex !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pe-3 {
    padding-right: 1rem !important;
}
/* box-icon  {
    width: 26px;
    height: 26px;
    fill: var(--primary-color);
}
img, svg {
    vertical-align: middle;
} */
.icon-box .icon-box-icon  {
    width: 26px;
    height: 26px;
    fill: var(--primary-color);
}
h3.card-title, h3.cart-title {
    font-size: 1.5em;
}
.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.card-title {
    margin-bottom: 0.5rem;
}
p {
    font-size: 1.2em;
    color: var(--gray-color-500);
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
@media (min-width: 1200px)
{.h3, h3 {
    font-size: 1.75rem;
}}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (min-width: 992px)
{.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}}
@media (min-width: 768px)
{.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}}
@media (min-width: 992px){
.col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
}}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 720px;
}}
@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}